table {
    border: rgb(18, 233, 169) 5px solid;
    text-align: center;
    ;
}
    td, th {
        border: rgba(162, 170, 10, 0.541) 3px solid;
        text-align: center;
      }
  

caption {
    background-color: rgba(135, 136, 186, 0.351);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
thead {
    font-weight: 600;
}

h1,h2{
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: center
  }
  li {
    background-color: #098f98;
    border: #18045f 3px solid;
    display: inline;
    margin-right: 10px;
  }
p{
    text-align: left;
}
video {
    position: static;
    left: 0;
    top: 0;}

body{
    background-color: beige;
}