table {
    border: rgb(18, 233, 169) 5px solid;
    text-align: center;
}
    td, th {
        border: rgba(162, 170, 10, 0.541) 3px solid;
        text-align: center;
      }
  

caption {
    background-color: rgba(135, 136, 186, 0.351);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
thead {
    font-weight: 600;
}

h1{
    text-align: center;
}

